<mat-toolbar color="primary">
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>Sniffer</span>
    <span style="flex: 1 1 auto;"></span>
    <div class="p-buttonset">
        <p-toggleButton
            [(ngModel)]="isListening"
            [offLabel]="offListeningLabel"
            [onLabel]="onListeningLabel"
            onIcon="pi pi-spin pi-spinner"
            offIcon="pi pi-sync"
            (onChange)="toggleListener()"
            [disabled]="isLoading"
        >
        </p-toggleButton>
        <button
            pButton
            pRipple
            type="button"
            icon="pi pi-times"
            label="Clear"
            class="p-button-danger"
            (click)="clearResponses()"
            [disabled]="isLoading"
        >
        </button>
    </div>
</mat-toolbar>

<responses-table
    [responseData]="responses"
    [isListening]="isListening"
    [(isLoading)]="isLoading"
>
</responses-table>
